---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting"
import profilepicture from "../images/me.png"
import { Image } from "astro:assets"
const pageTitle = "Hello World!"
---
<!-- clientload tells astro to send and rerun js on the client when the page loads, this is a hydrated component -->
<style>
	.aboutme {
		float: right;
		margin: 5px;
	}
	.profilepiccontainer {
		float: right;
		margin: 5px;
	}

	.profilepicture {
		height: auto;
		width: auto;
		max-width: 20vw;
		max-height: 20vh;
		border-radius: 10px;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<!-- <Greeting client:load messages={["Hi", "Hello", "Hey there", "Good day", "Greetings"]}/>  -->
	<div class="aboutme">
		<div class="profilepiccontainer">
			<Image src={ profilepicture } alt="A photo of me!" class="profilepicture"/>
		</div>
		<h2>Helen Feng</h2>
		<p>3rd year CS major @ UCLA</p>
	</div>

	<p>
		I'm Helen, a third year at UCLA (University of California, Los Angeles) majoring in Computer Science at the Samueli School of Engineering. 
		I've accumulated experience in full-stack development and machine learning through my years of studying Computer Science. 
	</p>
	<p>
		When I'm not learning about tech and working on projects, you can find me drawing, dancing in KPOP dance covers at KBM UCLA, and playing badminton in the 
		UCLA Badminton Club!
	</p>

</BaseLayout>
