---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

const pageTitle = "Resume and Education";

---

<style>
    
</style>

<BaseLayout pageTitle={pageTitle}>
    <div class="resume">
        <h1>resume side</h1>
    </div>

    <div class="education">
        <h1>education side</h1>
    </div>
</BaseLayout>
