---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: rgb(236, 98, 121);
      text-decoration: none;
      font-weight: 700;
    }
  </style>